header h1{
    vertical-align: bottom;
}

main{
    font-family: 'La Belle Aurore', cursive;

}

main h2{
    padding: 48px 0 3px 70px;
}

#lined-sheet{
    background-image: url(../assets/lined-sheet.webp);
    background-position: start;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

ul{
    margin-left: 70px;
}

ul li {
    line-height: 18px;
    height: 35px;
}

ul li.strike{
    text-decoration: line-through;
}